<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Rows on page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table" st-table="displayedCollection" st-safe-src="atendimentos">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="nome">Nome</th>
      <th st-sort="cnpj">CNPJ</th>
      <th st-sort="descricao">descricao</th>
      <th st-sort="aberto">aberto</th>
      <th st-sort="contato">contato</th>
      <th st-sort="data">Data</th>
      <th>
        Finalizar/Editar
      </th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="nome" placeholder="Procure por nome" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="cnpj" placeholder="Procure por  cnpj" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="descricao" placeholder="Procure por  descricao" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="aberto" placeholder="Procure por aberto" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="contato" placeholder="Procure por contato" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="data" placeholder="Procure por contato" class="input-sm form-control search-input" type="search"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in displayedCollection">
      <th>{{item.atendimento_id}}</th>
      <td>{{item.nome}}</td>
      <td>{{item.cnpj}}</td>
      <td>{{item.descricao}}</td>
      <td>{{item.aberto}}</td>
      <!--td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td-->
      <td>{{item.contato}}</td>
      <td>{{item.data_inicio}}</td>
      <td>
				<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
            Finalizar
				</button>
			</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>