<div class="row">
	<div class="form-group">
			<div class="col-md-3">
					<label>Data Inicial</label>
					<p class="input-group">
						<input type="text" class="form-control" uib-datepicker-popup="MM/yyyy" ng-model="data" datepicker-options="dataOptions" is-open="date.opened">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
			</div>
			<div class="col-md-3">
				<button progress-button="pesquisar(data)"
								pb-style="rotate-side-up"
								class="btn btn-info">
								Pesquisar
				</button>
			</div>
	</div>
</div>
<div class="horizontal-scroll">
	<div class="form-group select-page-size-wrap ">
		<label>Numero de paginas
			<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
							ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
			</select>
		</label>
	</div>
	<table class="table" st-table="displayedCollection" st-safe-src="atendimentos">
		<thead>
		<tr class="sortable ">
			<th class="table-id" st-sort="id" st-sort-default="false">#</th>
			<th st-sort="cliente.nome">Nome</th>
			<th st-sort="cliente.cnpj">CNPJ</th>
			<th >descricao</th>
			<th st-sort="aberto">aberto</th>
			<th st-sort="usuario.username">Responsável</th>
			<th st-sort="created_at">Data</th>
			<th>
				Detalhes
			</th>
		</tr>
		<tr>
			<th></th>
			<th><input st-search="cliente.nome" placeholder="Procure por nome" class="input-sm form-control search-input"
								 /></th>
			<th><input st-search="cliente.cnpj" 
			ng-model="clienteSearch"
			ng-keypress="pesquisaPorCliente($event,clienteSearch)"

			placeholder="Procure por  cnpj" 
			class="input-sm form-control search-input"
								 type="search"/></th>
			<th>
                        <select
								type="search"
                                class="input-sm form-control search-input"
								st-search="tipo_atendimento_id"
                                name="tipo"
                                id="tipo" 
                        >
							<option value="">TODOS</option>
							<option value="{{option.id}}" ng-repeat="option in tipo_atendimento">{{option.descricao}}</option>
                        </select>

			</th>
			<th>
					<select st-search="aberto"
										class="input-sm form-control search-input" type="search">
						<option value="">Todos</option>
						<option value="true">SIM</option>
						<option value="false">NÃO</option>
					</select>
			</th>
			<th><input st-search="usuario.username" placeholder="Procure por Responsável" class="input-sm form-control search-input" type="search"/>
			</th>
			<th><input st-search="created_at" placeholder="Procure por Data" class="input-sm form-control search-input" type="search"/>
			</th>
			<th>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in displayedCollection"
				ng-class="{
										primary: !item.aberto
									}">
			<td>{{item.id}}</td>
			<td>{{item.cliente.nome}}</td>
			<td>{{item.cliente.cnpj}}</td>
			<td>{{item.tipo_atendimento.descricao}}</td>
			<td>
			<div ng-if="item.aberto">
				SIM
			</div>
			<div ng-if="!item.aberto">
				NÃO
			</div>
			</td>
			<td>{{item.usuario.username}}</td>
			<td>{{formataData(item.created_at)}}</td>
			<td>
				<button type="button" ng-click="seleciona(item)" class="btn btn-sm btn-danger">
						Detalhes
				</button>
			</td>
		</tr>
		</tbody>
		<tfoot>
		<tr>
			<td colspan="6" class="text-center">
				<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
			</td>
		</tr>
		</tfoot>
	</table>
</div>