<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Numero de paginas
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table" st-table="displayedCollection" st-safe-src="atendimentos">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="nome">Nome</th>
      <th st-sort="cnpj">CNPJ</th>
      <th st-sort="descricao">descricao</th>
      <th st-sort="aberto">aberto</th>
      <th st-sort="username">Responsável</th>
      <th st-sort="data">Data</th>
      <th>
        Detalhes
      </th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="nome" placeholder="Procure por nome" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="cnpj" placeholder="Procure por  cnpj" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="descricao" placeholder="Procure por  descricao" class="input-sm form-control search-input"
                 type="search"/></th>
      <th>
          <select st-search="aberto"
                    class="input-sm form-control search-input" type="search">
				<option value="">Todos</option>
				<option value="true">Sim</option>
				<option value="false">Nao</option>
          </select>
      </th>
      <th><input st-search="username" placeholder="Procure por Responsável" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="data_inicio" placeholder="Procure por Data" class="input-sm form-control search-input" type="search"/>
      </th>
      <th>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in displayedCollection"
        ng-class="{
                    primary: !item.aberto
                  }">
      <td>{{item.atendimento_id}}</td>
      <td>{{item.nome}}</td>
      <td>{{applyMask(item.cnpj)}}</td>
      <td>{{item.descricao}}</td>
      <td>
			<div ng-if="item.aberto">
				Sim
			</div>
			<div ng-if="!item.aberto">
				Nao
			</div>
      </td>
      <td>{{item.username}}</td>
      <td>{{formataData(item.data_inicio)}}</td>
      <td>
				<button type="button" ng-click="seleciona(item)" class="btn btn-sm btn-danger">
            Detalhes
				</button>
			</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>