<div class="row" ng-controller="atendimentoCtrl">
    <div class="col-md-6">
      <div
          ba-panel
          ba-panel-title="Entre com os dados do Atendimento"
          ba-panel-class="with-scroll">
            <form id="form1">
              <div class="form-group">
                <label for="cnpjInput">CNPJ/CPF</label>
                <input type="text" class="form-control" 
                    data-mask="999-99-999-9999-9" 
                    id="cnpjInput" placeholder="CNPJ">
              </div>
              <div class="form-group">
                <label for="cliente">Cliente</label>
                <input type="text" class="form-control"
                    id="cliente" placeholder="Cliente">
              </div>
              <div class="form-group">
                <label for="Contato">Contato</label>
                <input type="text" class="form-control"
                    id="Contato" placeholder="Contato">
              </div>
              <div class="form-group">
                <select ng-model="atendimento.tipo_acesso" class="form-control">
                    <option ng-repeat="item in acesso">{{item}}</option>
                </select>
              </div>
              <div class="form-group">
                <select ng-model="atendimento.tipo_atendimento" class="form-control">
                    <option ng-repeat="item in atendimento_tipos">{{item.descricao}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="problema">Problema</label>
                <textarea placeholder="Problema" class="form-control" id="problema"></textarea>
              </div> 
              <div class="form-group">
                <label for="solucao">Solucao</label>
                <textarea placeholder="Solucao" class="form-control" id="solucao"></textarea>
              </div>
              <button type="submit" class="btn btn-danger">Cadastrar</button>
              <button type="submit" class="btn btn-danger">Alterar</button>
              <button type="submit" class="btn btn-danger">Deletar</button>
              <button type="submit" class="btn btn-danger">Pesquisar</button>

            </form>
      </div>
    </div>
    <div class="col-md-6">
        <div
                ba-panel
                ba-panel-title="Chamados Aberto"
                ba-panel-class="with-scroll">
        <div class="table-responsive">
        <table class="table">
            <tr>
            <th></th>
            <th>CNPJ</th>
            <th>Empresa</th>
            <th>Finalizar</th>
            </tr>
            <tr ng-repeat="item in usuarios">
            <td>{{item.usuario_id}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.email}}</td>
            <td>{{item.username}}</td>
            <!--td><a class="email-link " ng-href="mailto:mdo@gmail.com" href="mailto:mdo@gmail.com">mdo@gmail.com</a></td-->
            <td>{{item.tipo}}</td>
            <!--td><button class="status-button btn btn-xs btn-{{item.status}}">{{item.status}}</button></td-->
            <td><button class="btn btn-xs btn-primary" ng-click="selecionar($index)">Selecionar</button></td>
            </tr>
        </table>
        </div>
        </div>
    </div>
</div>
