<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Numero de paginas
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table"  st-set-filter="myStrictFilter" st-table="displayedCollection" st-safe-src="faturas">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="nome">Nome</th>
      <th st-sort="cnpj">CNPJ</th>
      <th >Valor</th>
      <th st-sort="status">Status</th>
      <th st-sort="username">Responsável</th>
      <th st-sort="data">Data</th>
      <th>
        Faturar
      </th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="nome" placeholder="Procure por nome" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="cnpj" placeholder="Procure por  cnpj" class="input-sm form-control search-input"
                 type="search"/></th>
      <th></th>
      <th>
          <select st-search="status"
                    class="input-sm form-control search-input" type="search">
            <option value="">Todos</option>
            <option value="aprovado">aprovado</option>
            <option value="aguardando aprovação">aguardando aprovação</option>
			<option value="não aprovado">não aprovado</option>
			<option value="faturado">faturado</option>
          </select>
        <!--input st-search="aberto" placeholder="Procure por aberto" class="input-sm form-control search-input" type="search"/-->
      </th>
      <th><input st-search="username" placeholder="Procure por Responsável" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="data" placeholder="Procure por Data" class="input-sm form-control search-input" type="search"/>
      </th>
      <th>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in displayedCollection"
        ng-class="{ warning: item.status=='aguardando aprovação',
					info: item.status=='faturado',
					danger: item.status=='não aprovado'
                  }">
      <td>{{item.atendimento_id}}</td>
      <td>{{item.nome}}</td>
      <td>{{applyMask(item.cnpj)}}</td>
      <td>{{item.valor}}</td>
      <td>
		  {{item.status}}
      </td>
      <td>{{item.username}}</td>
      <td>{{formataData(item.data)}}</td>
      <td>
          <div class="buttons">
            <button class="btn btn-primary editable-table-button btn-xs" ng-click="open(item)">destalhes</button>
            <button class="btn btn-danger editable-table-button btn-xs"
					ng-if="item.status==='aprovado'" 
					ng-click="faturar(item.at_id)">
					sim
			</button>
          </div>
			</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>